POSTGRES_DB=postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=password


SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/system
SPRING_DATASOURCE_USERNAME=user
SPRING_DATASOURCE_PASSWORD=password


STRIPE_SECRET_KEY=<your_stripe_secret_key>
STRIPE_WEBHOOK_SECRET=<your_stripe_webhook_secret>
HIGHNOTE_SECRET_KEY=<your_highnote_secret_key>
MAIL_PASSWORD=<your_mail_password>
JWT_SECRET=<your_jwt_secret>