SPRING_PROFILES_ACTIVE=prod
SERVER_PORT=8080


# RDS
SPRING_DATASOURCE_URL=jdbc:postgresql://<RDS-ENDPOINT>:5432/url_system?sslmode=require
SPRING_DATASOURCE_USERNAME=<user>
SPRING_DATASOURCE_PASSWORD=<password>

# Redis (ElastiCache)
SPRING_DATA_REDIS_HOST=<ELASTICACHE-ENDPOINT>
SPRING_DATA_REDIS_PORT=6379
SPRING_DATA_REDIS_PASSWORD=
REDIS_SSL=false

# JWT
JWT_SECRET=<base64-or-long-random>
JWT_EXPIRATION_MS=3000000

# Email (temporary)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=<email>
MAIL_PASSWORD=<app-password>

# If Kafka on MSK (optional)
# KAFKA_BOOTSTRAP_SERVERS=<MSK-BROKERS>
# KAFKA_CONSUMER_GROUP=email-service

# Tuning (optional)
DB_POOL_MAX=20
DB_POOL_MIN_IDLE=5
DB_CONN_TIMEOUT_MS=3000
