body {
    margin: 0;
    background-color: #1F1B22;
    font-family: sans-serif;
    display: flex;
    justify-content: center;   
    align-items: center;      
    height: 100vh;   
}



.loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0D0C0E;
    border-radius: 12px;
    width: 320px;
}


.loginForm h1 {
    color: white;
    text-align: center;
}

.loginForm button {
    margin-top: 5px;
}

.loginForm input {
    margin-top: 5px;
}